h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

/* Contact */
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f8f9fa;
}
.contact-icon {
  font-size: 50px;
  text-align: center;
}
.r-btn {
  padding: 5px 20px;
  background-color: #ee8683 !important;
  color: #fff !important;
}

/* footer */
footer {
  height: 200px;
  background-color: #333333;
}
footer .footer-icons a {
  font-size: 20px;
  color: #848484;
  border: 1px solid #848484;
  padding: 10px;
  border-radius: 50%;
}
footer .footer-icons a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}